body{
    background-color: grey;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: coral;
    padding: 40px;
}
input{
    margin-top: 10px;
    width: 220px;
    height: 30px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 5px;
    border-width: 0;
}
button {
    transition: .3s all;
    margin-top: 25px;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: indianred;
    color: aliceblue;
    border-width: 0;
}
button:hover {
    background-color: tomato;
    color: whitesmoke;
    box-shadow: 10px 10px purple;
}
button:active {
    box-shadow: 5px 5px purple;
}


.span-wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.result {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    min-width: 300px;
    margin: 10px 0;
    padding: 25px 10px;
    border-radius: 15px;
    background-color: indianred;
    color: aliceblue;
}